:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  --color-tone-1: #d7dadc;
}

* {
  box-sizing: border-box;
}

h5 {
  font-size: 10px;
}

a {
  color: white;
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  border: 2px solid var(--darkGray);
  border-radius: 10px;
  padding: 20px;
}

.final__gameboard {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  border: 2px solid var(--darkGray);
  border-radius: 10px;
  padding: 20px;
}

.final__gameboard__wrapper {
  transform: translateY(100%);
  transition: all 1s ease-in-out;
  opacity: 0;
}

.final__gameboard__wrapper__show {
  transform: translateY(0);
  opacity: 1;
}

@keyframes shake {
  0% {
    transform: translate(2px, 0px);
  }
  10% {
    transform: translate(-4px, 0px);
  }
  20% {
    transform: translate(4px, 0px);
  }
  30% {
    transform: translate(-4px, 0px);
  }
  40% {
    transform: translate(4px, 0px);
  }
  50% {
    transform: translate(-4px, 0px);
  }
  60% {
    transform: translate(4px, 0px);
  }
  70% {
    transform: translate(-4px, 0px);
  }
  80% {
    transform: translate(4px, 0px);
  }
  90% {
    transform: translate(-4px, 0px);
  }
  100% {
    transform: translate(2px, 0px);
  }
}

.game-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.game-row.incorrect {
  animation: 0.5s shake;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.item {
  background-color: var(--darkGray);
  border-radius: 5px;
  outline: none;
  border: none;
  height: 3rem;
  width: 3rem;
  color: var(--black);
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0);
  /* transform: rotateY(180deg); */
}

.item.text {
  animation: 0.2s bounce;
  border: 1px solid rgba(255, 255, 255, 0.488);
}

.item.green {
  background-color: var(--darkendGreen);
  color: var(--color-tone-1);
  /* animation: 0.1s bounce; */
}

.item.yellow {
  background: var(--darkendYellow);
  color: var(--color-tone-1);
  /* animation: 0.1s bounce; */
}

.item.grey {
  background-color: rgb(75, 85, 85);
  color: var(--color-tone-1);
  /* animation: 0.1s bounce; */
}

.keypad {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.row {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.key {
  width: 40px;
  margin: 0 5px;
  text-transform: uppercase;
  height: 60px;
}

.long-key {
  margin: 0 5px;
  min-width: 60px;
}

button {
  border-radius: 5px;
  background: var(--gray);
  color: var(--color-tone-1);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

button.key.grey {
  background: rgb(75, 85, 85);
}
button.key.green {
  background: var(--darkendGreen);
}
button.key.yellow {
  background: var(--darkendYellow);
}

.header-text {
  display: flex;
  flex-direction: row;
}

button.over {
  height: 40px;
  align-self: center;
  margin: 0 20px;
}

button[disabled] {
  background: var(--lightGray);
  color: var(--darkGray);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button.reset.over {
  animation: pulse 2s infinite;
}

/* .over.reset {
  z-index: 99;
} */

/* .results {
  position: absolute;
  background-color: rgba(6, 5, 5, 0.488);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
} */

.overlay {
  display: flex;
  background-color: rgba(6, 5, 5, 0.88);
  padding: 50px;
  margin-top: 100px;
  position: absolute;
  flex-direction: column;
  border-radius: 5px;
  /* place-content: center center; */
  /* align-content: center center; */
  z-index: 0;
}
.custom_toast {
  background: white;
  color: black;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .key {
    min-width: 35px;
    margin: 0 1px;
    text-transform: uppercase;
    min-height: 20px;
  }

  .item {
    height: 4rem;
    width: 4rem;
  }
  .gameboard {
    padding: 10px 0px;
    border: none;
    grid-gap: 5px;
  }

  .game-row {
    grid-gap: 5px;
  }

  .keypad {
    width: 50%;
  }

  .long-key {
    margin: 0 1px;
    min-width: 60px;
    min-height: 30px;
    font-size: 12px;
  }
}

@keyframes bouncer {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.won .item {
  animation: bouncer 1s ease;
}

.won .item:nth-child(2) {
  animation-delay: 100ms;
}
.won .item:nth-child(3) {
  animation-delay: 200ms;
}
.won .item:nth-child(4) {
  animation-delay: 300ms;
}
.won .item:nth-child(5) {
  animation-delay: 400ms;
}
